@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "DM Sans", sans-serif;
  --font-geist-mono: "DM Mono", monospace;
}
.google-sans-custom {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* 400 (Regular), 500 (Medium), හෝ 700 (Bold) ලෙස අවශ්‍ය ඝනකම ලබා දෙන්න */
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
